:root {
  /* colors */
  --Red: hsl(0, 47%, 51%);
  --Very_Dark_Blue: hsl(230, 29%, 20%);
  --Dark_Grayish_Blue: hsl(230, 11%, 40%);
  --Grayish_Blue: hsl(240, 4%, 44%);
  --Light_Grayish_Blue: hsl(207, 33%, 95%);
  --menu-shadow: #0000002b;

  /* font families */
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlow-condensed: "Barlow Condensed", sans-serif;

  /* clamps */
  --pclamp1: clamp(1.5rem, 0.444rem + 4.507vw, 4.5rem);
  --pclamp2: clamp(0rem, -5rem + 13.333vw, 7rem);
  --tclamp1: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
}

h1,
h2,
button,
nav {
  font-family: var(--ff-barlow-condensed);
}

h1,
h2,
button {
  text-transform: uppercase;
}

button {
  cursor: pointer;
  height: fit-content;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-barlow);
  padding-top: 2.5rem;
}
header,
.hero-description {
  padding-inline: var(--pclamp1);
}
main {
  padding: var(--pclamp2) 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.hero-description {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  display: grid;
  gap: 1rem;
}

.hero-image {
  align-self: flex-end;
  width: 31rem;
  transform: translateX(25%);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.hero-image img {
  max-width: 100%;
}
.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "Barlow Condensed", sans-serif;
}

.highlights span {
  color: white;
  background-color: var(--Very_Dark_Blue);
  font-size: 1rem;
  border-radius: 10rem;
  padding: 0.15rem;
  padding-inline: 0.45rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  height: fit-content;

  text-transform: uppercase;
}
.highlights p {
  text-transform: uppercase;
  letter-spacing: 0.28rem;
  color: var(--Grayish_Blue);
}

.about h2 {
  /* font-size: 2.5rem; */
  font-size: var(--tclamp1);
  line-height: 2.5rem;
  color: var(--Very_Dark_Blue);
}

.about {
  display: grid;
  gap: 1rem;
}
.about p {
  font-size: 1.15rem;
  color: var(--Dark_Grayish_Blue);
  padding-bottom: 0.5rem;
}

.cta {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.cta .schedule {
  color: white;
  background-color: var(--Red);
  border-radius: 0.3rem;

  font-weight: 700;
  padding: 0.5rem 1.7rem;
  letter-spacing: 0.01em;
}
.cta .preview {
  color: var(--Grayish_Blue);
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  word-spacing: -0.05em;
}
.cta .schedule:hover,
.cta .preview:hover {
  opacity: 0.8;
  transition: opacity 0.4s ease;
}
.back-decoration {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 27rem;
  z-index: -1;
  border-bottom-left-radius: 4rem;
  background-color: var(--Light_Grayish_Blue);
}

.nav-hamburger[aria-expanded="false"] + .menu {
  display: none;
}

.menu {
  position: absolute;
  top: 5rem;
  right: var(--pclamp1);
  left: var(--pclamp1);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: var(--Very_Dark_Blue);
  background-color: white;
  border-radius: 0.2rem;
  padding: 1.8rem;

  /* margin-inline: auto; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  box-shadow: 0px 0px 11px 2px var(--menu-shadow);
  z-index: 40;
}
.menu-item {
  text-align: center;
  width: 100%;
}
.menu-item:hover,
.menu-item__cta:hover {
  color: var(--Red);
  transition: 0.3s ease;
}

.menu-item__cta {
  color: var(--Grayish_Blue);
}
.divider {
  border: 1px solid var(--Light_Grayish_Blue);
}

/* Custom Cursor */
body {
  cursor: url("/cursor.png"), auto;
}
